// Primary Color
$color-primary: #FEF4F5;
$border-focus: #FED6D7;
$border-default: #CED1D9;
$border-primary: #C9C9C9;
$border-disable: #D7D7D7;
$color-placeholder: #DCDADA;
$color-red-primary: #F72121;
$color-form-chat: #F9F9F9;

//color-primary
$color-white: #ffffff;
$color-text-primary: #E739EB;
$color-black: #141416;
$color-black-50: #686868;
$color-blue: #38B4B8;
$color-blue-hover: #52C7CB;
$color-blue-focus: #08A2A7;
$color-blue-2: #2086F9;
$color-blue-3: #EAF9F9;
$color-blue-4: #14A0A5;
$color-orange: #FFAB49;
$color-green: #0ABF5F;
$color-green-50: #13B67B;
$color-red: #F62121;
$color-yellow: #FFEC42;

  //color-text
$color-text-1: #141416;
$color-text-2: #B2ABAB;
$color-text-3: #B3ABAB;
$color-text-4: #6C6C6C;

//bg-color
$color-bg-footer: #F7F7F7;
$color-bg-btn: #FFE8E8;

//color-button
$color-button-danger: #F8879C;
$color-button-hover: #FFA8B8;
$color-button-focus: #F25976;
$color-button-disable: #DCDADA;
$color-input-disable: #F5F7FA;

$color-dark: #18294A;
$color-dark-50: #F2F4FC;

$color-dark-100: #000000;
$color-dark-200: #3E3E3E;
$color-dark-300: #E0E0E0;
$color-dark-400: #F1F1F1;

$color-primary-50: #FEE3FF;
$color-primary-100: #FFF5FF;
$color-primary-200: #FFF7FF;
$color-primary-300: #FEDDFF;
$color-primary-hover: #F86CFB;
$color-primary-focus: #CA14CE;
$color-menu-black-hover: #565656;
$color-icon-link-hover: #5C5B5B;

$--color-primary: #F8879C !default;

//color-toast
$color-bg-success: #F1FFF7;
$color-border-success: #4AD78B;
$color-bg-error: #FFF5F5;
$color-border-error: #FD9090;
$color-bg-warning: #FFF5EA;
$color-border-warning: #FFCA8B;
